/* carousel.css */
.carousel-indicators {
    bottom: -40px; /* Adjust the position as needed */
     justify-content: center;

  }
  
  .carousel-indicators li {
    width: 10px; /* Indicator width */
    height: 10px; /* Indicator height */
    margin: 0 5px; /* Indicator margin */
    justify-content: center;
    background-color: blue; /* Active indicator background color */


  }
  .cov{
    justify-content: center;
  }
  
  .carousel-indicators .active {
    background-color: blue; /* Active indicator background color */
  }
  /* carousel.css */
/* Center the Carousel indicators */
.custom-carousel .carousel-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0; /* Remove default margin */
}
.custom-carousel .carousel-indicators .active{
  background-color: #3182ce; /* Change to your desired color */
}
  